name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
  
env:
  IMAGE_BRANCH: ci-generated-metrics

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Checkout branch
        run: git checkout --orphan $IMAGE_BRANCH
      - name: Generate metrics image
        uses: lowlighter/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: unlsycn
          template: classic
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          config_timezone: Asia/Shanghai
          output_action: none
          repositories: 255
          repositories_affiliations: ""
          commits_authoring: unlsycn, unlsycn@unlsycn.com, g.humphrey.sln@gmail.com
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_sections: most-used, recently-used
          plugin_languages_recent_load: 1000
          plugin_languages_recent_days: 365
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          plugin_languages_other: no
          plugin_languages_threshold: 0%
          plugin_languages_aliases: RenderScript:Rust
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects-graphs, languages-graphs
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
      - name: Force push image
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git reset --hard
          git clean -df
          sudo cp /metrics_renders/* ./
          git add --all
          git commit -m "Update metrics image"
          git push --force --set-upstream origin $IMAGE_BRANCH
